html{
    font-size: 62.5%;
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgb(28, 90, 69);
}
.main__container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main__container .form{
    width: 500px;
    height: 400px;
    background: rgb(26, 26, 26);
    border: solid 1px aliceblue;
    border-radius: 10q;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.form .input__container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.input__container .input{
    width: 100%;
    height: 80px;
    border-radius: 10q; 
    border:solid 1px rgba(0, 0, 0, 0.215);
    outline: none;
    padding: 20px;
    font-size: 3rem;

}
.input:hover{
    border:solid 1px chocolate;
}

.input:focus{

    box-shadow: 0 0 4q black;
}
.form .buttons__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.buttons__container .boton{
    width: 100%;
    height: 60px;
    border-radius: 10q;
    font-size: 1.8rem;
    color: aliceblue;

}
.boton1{
    background: rgb(138, 89, 20);
    border:solid 1px aliceblue

}
.boton1:hover{
    background: rgb(113, 69, 6);
}
.second{
    background: rgb(55, 100, 102);
    border:solid 1px aliceblue;

}
.second:hover{
    background: rgb(41, 80, 82);
    border:solid 1px aliceblue;
    
}
.titulo{
    
    font-size: 4rem;
    color: aliceblue;
}
.texto{
    font-size: 2rem;
    color: aliceblue;
}
.display{
     background: rgb(67, 67, 67);
     border:solid 1px aliceblue;

}
.reiniciar {
    background: rebeccapurple;
    border: solid 1px aliceblue;
    margin-top: 30px;
}
.reiniciar:hover{
    background: purple;
}

.none {
    display: none;

}